DB_PASSWORD=change_this
DB_NAME=citibike_dev
DB_HOST=postgres_server_ip
DB_PORT=5432
DB_USER=citibike_app_user

AIRFLOW_HOME=./.airflow
AIRFLOW__CORE__DAGS_FOLDER=./data_pipeline/dags
AIRFLOW__CORE__LOAD_EXAMPLES=False

OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?options=-csearch_path%3Dairflow,public
AIRFLOW__DATABASE__SQL_ALCHEMY_SCHEMA=airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor

MLFLOW_BACKEND_STORE_URI=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?options=-csearch_path%3Dmlflow

# Service Ports
HEALTH_PORT=40500
HISTORY_PORT=40501
CURRENT_PORT=40502
FORECAST_PORT=40503
PANIC_PORT=40504
AIRFLOW_WEBSERVER_PORT=40510
